.rollover {
    display: block;
    width: 724px;
    height: 407px;
    background: url(https://i.ibb.co/PjM12wM/green.png) no-repeat;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.rollover:hover {
    background: url(https://i.ibb.co/gJskMW6/yellow.png)
}


body {
    background-color: antiquewhite;
}
