

p {
    font-family: helvetica;
}

h1 {
    font-family: helvetica;
    font-size: x-large;
}

h2 {
    font-family: helvetica;
    font-size: large;
}

button {
    font-family: helvetica;
}

a  {
    font-family: helvetica;
}

body {
    background-color: rgb(248, 237, 217);
}
